# Dependencies
node_modules/

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store

# Environment files (important)
.env
.env.local
.env.development
.env.production

# Allow example file
!.env.example